@model GamingForum.Models.AdminViewModels.IndexViewModel

<div class="container-fluid">
	<h1 class="mt-4">Dashboard</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Your Discussions</li>
	</ol>
	<div class="row">
		@foreach (var discussion in Model.Discussions)
		{
			<div class="col-xl-2 col-md-6 mb-4">
				<div class="cardborder-0 shadow">
					<img src="~/img/@(discussion.GameName).jpg" class="card-img-bottom"> 
					<div class="card-body" >
						<div class="row" style="margin: 0px auto 10px 0px;">
							<div><h5 class="card-title mb-0">@discussion.Title</h5></div>
						</div>
						<div class="row ml-0">
							<div><i class="fas fa-calendar-alt" style="color: gray"></i></div>
							<p class="text-muted ml-3 mb-0">Created on: @discussion.CreatedOn</p>
						</div>
						<div class="row ml-0" style="bottom: 0;">
							<div><i class="fas fa-comment" style="color: gray"></i></div>
							<p class="text-muted ml-3 mb-0">@discussion.Comments.Count() comments</p>
						</div>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col">
								<a asp-controller="Discussion" asp-action="Index" asp-route-id="@discussion.Id" class ="btn btn-primary">
									<i class="fa fa-eye"></i>
								</a>
							</div>
							<div class="col">
								<a asp-controller="Discussion" asp-action="Edit" asp-route-id="@discussion.Id" class ="btn btn-secondary float-right">
									<i class="fa fa-pencil"></i>
								</a>
							</div>
							<div class="col">
								<a asp-controller="Discussion" asp-action="Delete" asp-route-id="@discussion.Id" class ="btn btn-danger float-right">
									<i class="fa fa-trash"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>